  <!-- Navigation bar DESKTOP -->

  <ul id="dropdown2" class="dropdown-content">
    <li><a href="/users/register">Registrar</a></li>
    <li class="divider"></li>
    <li><a href="/users/modificar_empleado">Modificar</a></li>
    <li class="divider"></li>
  </ul>
  <nav class="white-text" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/proyectos" class="brand-logo"><img src="/images/natdev_logo.png" style="width:auto; height: 3rem; filter: contrast(0%) brightness(200%);"></a>
      <ul class="right hide-on-med-and-down">
        <% if (isLoggedIn === true) { %>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Usuarios<i class="material-icons right">person</i></a></li>
          <li><a href="/users/logout"><i class="material-icons right">logout</i>Cerrar Sesión</a></li>
        <% } %>
      </ul>

     

      <!-- Navigation bar MOBILE  -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/users/logout">Registrar</a></li>
        <li class="divider"></li>
        <li><a href="#!">Modificar</a></li>
        <li class="divider"></li>
      </ul>
      <ul id="nav-mobile" class="sidenav grey darken-4">
        <li><a class="grey-text text-lighten-1 center">Menú</a></li>
        <% if (isLoggedIn === true) { %>
          <li><a class="dropdown-trigger white-text" href="#!" data-target="dropdown1">Usuarios<i class="material-icons right white-text">person</i></a></li>
          <li><a class="white-text" href="/users/logout"><i class="material-icons right white-text">logout</i>Cerrar Sesión</a></li>
        <% } %>
      </ul>
      <% if (isLoggedIn === true) { %>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
      <% } %>
      <!-- <img class="separador" src="images/separacion.png"> -->
    </div>
  </nav>

