  <!-- Navigation bar DESKTOP -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img src="/images/natdev_logo.png" style="width:auto; height: 3rem; filter: contrast(0%) brightness(200%);"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Cerrar sesión</a></li>
      </ul>

            <ul class="right hide-on-med-and-down">
        <li><a href="/users/register">Registrar</a></li>
      </ul>

      <!-- Navigation bar MOBILE  -->
      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Cerrar sesión</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <!-- <img class="separador" src="images/separacion.png"> -->
    </div>
  </nav>

